.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

button {
    background-color: rgb(213, 219, 216);
    font-size: 120%;
    padding: 2%;
    margin: 1%;
    min-width: 40%;
}

#title {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}