<main>
    <div class="imgContainer">
        <canvas #drawCanvas height="480" width="640"
        (mousedown)="onMouseDown($event)" 
        (mousemove)="onMouseMove($event)"
        ></canvas>
    </div>

    <span class="horizontal-bar">
        <span class="tooltip">
            <label for="imageInput-{{title}}" ><mat-icon>upload</mat-icon></label>
            <span class="tooltiptext">Téléverser une image</span>
            <input #imageInput class="hidden" id="imageInput-{{title}}" type="file" (input)="loadBackground(imageInput)" accept="image/BMP"/>
        </span>
        <span class="tooltip">
            <mat-icon (click)="clearBackground()">close</mat-icon>
            <span class="tooltiptext">Retirer l'arrière-plan</span>
        </span>
        <span class="tooltip">
            <mat-icon (click)="clearForeground.emit()">layers_clear</mat-icon>
            <span class="tooltiptext">Effacer l'avant-plan</span>
        </span>
        <span class="tooltip">
            <mat-icon (click)="replaceForeground.emit()">outbox</mat-icon>
            <span class="tooltiptext">Remplacer avec l'autre avant-plan</span>
        </span>
    </span>
</main>