<div id="constants-edit">
    <h1 class="title" mat-dialog-title>Modification des constantes de jeu.</h1>
    <form class="constants-form">            
        <mat-form-field class="full-width">
            <mat-label> <strong>{{this.gameConstants.time}}s</strong> - Temps initial du compte à rebours</mat-label>
            <input
                #timerInput
                type="text"
                autofocus
                (keyup)="this.modifiedGameConstants.time = convertToNumber(timerInput.value)"
                matInput
                [placeholder]="'(Entre ' + this.timeConstantBounds.minTime + ' et ' + this.timeConstantBounds.maxTime + 's)'"
                [formControl]="this.timeFormControl"
                />
                <mat-error *ngIf="this.timeFormControl.hasError('pattern')"> Entrez un nombre entier positif.</mat-error>
                <mat-error *ngIf="!this.timeFormControl.hasError('pattern') && (this.timeFormControl.hasError('min') || this.timeFormControl.hasError('max'))"> Les valeurs doivent être dans les plages autorisées.</mat-error>
            </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label> <strong>{{this.gameConstants.reward}}s</strong> - Temps gagné avec la découverte d’une différence</mat-label>
            <input
                #rewardInput
                type="text"
                autofocus
                (keyup)="this.modifiedGameConstants.reward = convertToNumber(rewardInput.value)"
                matInput
                [placeholder]="'(Entre ' + this.timeConstantBounds.minReward + ' et ' + this.timeConstantBounds.maxReward + 's)'"
                [formControl]="this.rewardFormControl"
            />
            <mat-error *ngIf="this.rewardFormControl.hasError('pattern')"> Entrez un nombre entier positif.</mat-error>
            <mat-error *ngIf="!this.rewardFormControl.hasError('pattern') && (this.rewardFormControl.hasError('min') || this.rewardFormControl.hasError('max'))"> Les valeurs doivent être dans les plages autorisées.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label> <strong>{{this.gameConstants.penalty}}s</strong> - Temps de pénalité par indice</mat-label>
            <input
                #penaltyInput
                type="text"
                autofocus
                (keyup)="this.modifiedGameConstants.penalty = convertToNumber(penaltyInput.value)"
                matInput
                [placeholder]="'(Entre ' + this.timeConstantBounds.minPenalty + ' et ' + this.timeConstantBounds.maxPenalty + 's)'"
                [formControl]="this.penaltyFormControl"
            />
            <mat-error *ngIf="this.penaltyFormControl.hasError('pattern')"> Entrez un nombre entier positif.</mat-error>
            <mat-error *ngIf="!this.penaltyFormControl.hasError('pattern') && (this.penaltyFormControl.hasError('min') || this.penaltyFormControl.hasError('max'))"> Les valeurs doivent être dans les plages autorisées.</mat-error>
        </mat-form-field>
    </form>
    <mat-dialog-actions class="button-row">
        <button mat-button [disabled]="!this.validateGameConstants()" (click)="updateGameConstants()" aria-label="Sauvegarder">Sauvegarder</button>
        <button mat-button matDialogClose aria-label="Retour">Retour</button>
    </mat-dialog-actions>
</div>
