<span class="vertical-bar">

    <span class="horizontal-bar">
        <p>Mode de dessin</p>
        <mat-icon [ngClass]="{'active' : isDrawModeActive() }" (click)="setDrawMode()">draw</mat-icon>
        <mat-icon [ngClass]="{'active' : isRectangleModeActive() }" (click)="setRectangleMode()">rectangle</mat-icon>
        <mat-icon [ngClass]="{'active' : isEraseModeActive() }" (click)="setEraseMode()">highlight_remove</mat-icon>
        <mat-icon (click)="undo()">undo</mat-icon>
        <mat-icon (click)="redo()">redo</mat-icon>
        <mat-icon (click)="swapForegrounds()">swap_horiz</mat-icon>
    </span>
    <span class="horizontal-bar">
        <p>Paramètres de l'outil</p>
        <label for="colorSelect"><mat-icon [ngStyle]="{'color': drawService.color}">palette</mat-icon></label>
        <input #colorSelect id="colorSelect" type="color" (input)="setColor(colorSelect.value)">
        <input #size type="range" min="1" max="40" step="1" value="5" (input)="setToolSize(size.value)"/>
    </span>
</span>
