<div class="container justified">
    <div id="header">
        <img id="main-logo" src="../assets/logo/amongoDB.png" alt="Logo Projet" />
    </div>
    <div id="subtitle">
        <h3>Il y a une différence parmis nous</h3>
    </div>
    <div id="buttons">
        <div>
            <button mat-raised-button color="primary" routerLink="/selection-view" class="buttons">Classique</button>
        </div>
        <div>
            <button mat-raised-button color="primary" class="buttons">Temps Limité</button>
        </div>
        <div>
            <button mat-raised-button color="primary" routerLink="/config" class="buttons">Configuration</button>
        </div>
    </div>
    <footer class="footer-item">
        <h4 class="team-name">Équipe Poly: 107</h4>
        <div id="names">
            <span>Majeed Abdul Baki</span>

            <span>Victor Gilbert</span>

            <span>Sébastien Roy</span>

            <span>Maxime Pageot</span>

            <span>Julien Roux</span>
        </div>
    </footer>
</div>
