.container {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}

.container {
    background-image: url('../../../assets/back-ground/main.webp');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#buttons {
    margin-top: 10vh;
    div {
        text-align: center;
        margin: 5vh;
        .buttons {
            border: 3px;
            border-style: solid;
            border-color: rgb(210, 210, 210);
            height: 7vh;
            width: 54vh;
            font-size: 3.5vh;
        }
    }
}

#header {
    display: flex column;
    text-align: center;
    #main-logo {
        height: 37 vh;
    }
}

.footer-item {
    margin: 5%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .team-name {
        margin-bottom: 4vh;
        font-size: 3vh;
        font-weight: bold;
        color: rgb(145, 10, 10);
    }
    #names {
        span {
            margin-right: 1vh;
            color: aliceblue;
            font-size: large;
            font-weight: 400;
        }
    }
}

#subtitle {
    text-align: center;
    h3 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 4vh;
        font-weight: bold;
    }
}
