<div ngClass="game-theme" class="wrap">
    <div class="squares">
        <div>
            <mat-toolbar id="top" color="primary">
                <div id="topbar-links">
                    <p>Modifiez un jeu</p>
                    <div id="quit-button">
                        <button mat-button routerLink="/main">
                            <mat-icon>home</mat-icon>
                            Quitter
                        </button>
                    </div>
                    <div id="">
                        <button mat-button routerLink="/game-creation"><mat-icon>build</mat-icon>Créer un jeu</button>
                    </div>
                </div>
                <app-data-reset></app-data-reset>
                <app-time-constants></app-time-constants>
                <span></span>
                <div>
                    <button mat-raised-button color="primary" (click)="openHistoryDialog()">Historique</button>
                </div>
            </mat-toolbar>
            <app-square-interface [configPage]="true"></app-square-interface>
        </div>
    </div>
</div>
