.button-row {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 15px;
}

button {
    background-color: rgb(213, 219, 216);
    font-size: 120%;
    padding: 2%;
}

#title {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    align-items: center;
    font-size: 120%;
    padding: 2%;
    font-weight: bolder;
}

.name-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 100%;
}

.full-width {
    width: 100%;
}
