<span class="horizontal-bar">
    <p>Réinitialisation de données</p>
    <span class="tooltip">
        <mat-icon (click)="deleteAllGames()">delete_forever</mat-icon>
        <span class="tooltiptext">Supprimer tous les jeux</span>
    </span>
    <span class="tooltip">
        <mat-icon (click)="resetAllLeaderboards()">reset_tv</mat-icon>
        <span class="tooltiptext">Réinitialiser tous les meilleurs temps</span>
    </span>
    <span class="tooltip">
        <mat-icon (click)="resetTimeConstants()">restart_alt</mat-icon>
        <span class="tooltiptext">Réinitialiser les contantes de temps</span>
    </span>
</span>
