.container {
    padding: 0 5px 0 5px;
    border: 3px solid black;
    background-color: #f5efef;
}

.chat-container {
    justify-self: flex-end;
    overflow: auto;
    flex-direction: column;
}

.datetime {
    float: right;
    color: #999;
}

.message {
    border-top: solid 1px #474444;
    font-size: medium;
    padding: 20px;
    margin-top: 10px;
    width: calc(100% - 40px);
    overflow-wrap: break-word;
}

.otherUserMessage {
    align-self: left;
    color: blue;
    text-align: left;
}
.thisUserMessage > p {
    text-align: right;
}
.systemMessage {
    align-self: left;
    color: #ff0000;
    text-align: left;
}

.classementEvent {
    align-self: left;
    color: #32b145;
    text-align: left;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 150px);
    max-width: 20vw;
    overflow-x: scroll;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#sender {
    margin-bottom: 2%;
}

.send-message-form {
    input {
        width: 90%;
    }
}

button {
    background-color: #f5efef;
    border: 3px solid black;
    border-radius: 0 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

input {
    background-color: #f5efef;
    border: 3px solid black;
    border-radius: 0 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

#title {
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: bold;
}
