.container {
    height: 100%;
    border: 3px solid black;
    padding: 0 5px 0 5px;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#title {
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: bold;
}