.container {
    height: 90%;
    padding: 0 5px 0 5px;
    border: 3px solid black;
    background-color: #f5efef;
}

.chat-container {
    justify-self: flex-end;
    overflow: auto;
    flex-direction: column;
}

.datetime {
    float: right;
    color: #999;
}

.message {
    width: 100%;
    border-top: solid 1px #474444;
    padding: 20px;
    margin-top: 10px;

    max-width: 15vw;
    overflow-wrap: break-word;
}

.otherUserMessage {
    width: 100%;
    align-self: left;
    color: blue;
    text-align: left;
}
.thisUserMessage > p {
    width: 100%;
    text-align: right;
}
.systemMessage {
    width: 100%;
    align-self: left;
    color: #ff0000;
    text-align: left;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    min-width: 15vw;
}
.send-message-form {
    input {
        width: 98%;
    }
}

button {
    width: 100%;
    background-color: #f5efef;
    border: 3px solid black;
    border-radius: 0 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

input {
    background-color: #f5efef;
    border: 3px solid black;
    border-radius: 0 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

#title {
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: bold;
}
