#header {
    display: flex;
    height: 8vh;
    font-size: 1.5vh;
}

.card {
    background-color: rgb(38, 204, 255);
    width: 130vh;
    height: 34vh;
    #right-elements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 27vh;
        .content {
            display: flex;
            flex-flow: row-reverse;
            margin: 2vh;
            font-size: 1.2vh;
            .best-times {
                font-size: 1.5vh;
                margin-right: 8vh;
            }
        }
        .buttons {
            display: flex;
            width: auto;
            height: auto;
            margin-left: 30vh;
        }
    }
}

img {
    display: flex;
    width: 30vh;
    float: left;
    padding-left: 10px;
}

#title {
    width: 30vh;
    height: 4vh;
    font-size: 2vh;
    display: flex;
    flex: row;
}

.subtitle {
    font-size: 1.5vh;
    display: flex;
    text-align: left bottom;
}

.page-button {
    text-align: center;
    margin: 1vh;
}

#square-list {
    margin-top: 5vh;
    background-color: rgb(246, 245, 244);
}

#step {
    background-color: rgb(246, 245, 244);
}
