<mat-stepper headerPosition="bottom" class="wraper">
    <mat-step *ngFor="let page of groupedGames; index as i" id="step">
        <mat-grid-list id="square-list" cols="2" rowHeight="10:4" gutterSize="1%">
            <mat-grid-tile id="square" *ngFor="let gameData of page; index as j">

                <mat-card class="card">
                    <mat-card-header id="header">
                        <mat-card-title id="title">
                            {{ gameData.name }}
                        </mat-card-title>
                        <mat-card-subtitle class="subtitle">Difficulté: {{gameData.isHard ? 'difficile' : 'facile'}}</mat-card-subtitle>
                    </mat-card-header>

                    <div class="content">
                        <img mat-card-image [src]="getImage(gameData)" />

                        <div id="right-elements">
                            <mat-card-content class="leaderboard">
                                <div class="best-times">
                                    Classement solo:
                                    <div *ngFor="let entry of gameData.scoreBoardSolo; index as i">{{ i + 1 }}. {{ entry[0] }} : {{ entry[1] }} s</div>
                                </div>
                                <div class="best-times">
                                    Classement multi joueur:
                                    <div *ngFor="let entry of gameData.scoreBoardMulti; index as i">{{ i + 1 }}. {{ entry[0] }} : {{ entry[1] }} s</div>
                                </div>

                            </mat-card-content>
                            <mat-card-actions *ngIf="!configPage" class="buttons">
                                <button mat-raised-button color="primary" (click)="openFormDialog(gameData, true)">Partie Solo</button>
                                <button mat-raised-button color="primary" (click)="openFormDialog(gameData, false)">{{ someoneWaiting[i*4 + j]  ? "Rejoindre" : "Créer" }}</button>
                            </mat-card-actions>

                            <mat-card-actions *ngIf="configPage" class="buttons">
                                <button (click)="deleteGame(gameData.id)" mat-raised-button color="primary">Supprimer</button>
                                <button (click)="resetLeaderboard(gameData.id)" mat-raised-button color="primary">Réinitialiser</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>

            </mat-grid-tile>
        </mat-grid-list>
        <div>
            <div class="page-button">
                <button *ngIf="i !== 0" mat-raised-button color="primary" mat-button matStepperPrevious class="left">Précédent</button>
                <button *ngIf="i !== groupedGames.length - 1" mat-raised-button color="primary" mat-button matStepperNext class="right">
                    Prochain
                </button>
            </div>
        </div>
    </mat-step>
</mat-stepper>
