$card-height: 30vh;
$min-card-height: 100px;
$card-width: 40vw;
$min-card-width: 400px;

mat-grid-tile {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    display: block;
    background-color: rgb(38, 204, 255);
    border: 1px solid black;
    width: $card-width;
    min-width: $min-card-width;
    height: $card-height;
    min-height: $min-card-height;
    padding: 10px;

    #header {
        height: 20px;
        font-size: 1.5vh;
        margin-bottom: calc($card-height*0.1);
    }

    .content {
        display: flex;
        margin-top: 45px;
    }

    .buttons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(0, 30%);
        width: 40%;
        button {
            margin: 0 10px 0 10px;
        }
    }
}

img {
    width: 40%;
    height: calc((480/640) * 40%);
    margin: 10px;
    margin-top: 40px;
}

.leaderboard {
    display: flex;
    font-size: 14px;
    >* {
        margin: 10px;
    }
}

.page-button {
    text-align: center;
    margin: 1vw;
}